# Ignorar el archivo .env que contiene las credenciales sensibles
# .env

# Ignorar los directorios y archivos de compilación
node_modules/
build/
dist/
*.log

# Ignorar archivos temporales de editores
.DS_Store
*.swp
Thumbs.db

# Ignorar los archivos de configuración del sistema
*.bak
*.tmp