[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql

# Seguridad y configuración básica
bind-address=0.0.0.0
skip-networking=0
skip-bind-address

# Mejor rendimiento
default_storage_engine=InnoDB
innodb_buffer_pool_size=256M
max_connections=100

[client]
default-character-set=utf8mb4