[mysqld]
user=mysql
datadir=/var/lib/mysql
socket=/run/mysqld/mysqld.sock
bind-address=0.0.0.0 # acepta conexiones desde cualquier IP dentro de la red Docker.

# Configuraciones adicionales
max_connections=100 # máximo de conexiones
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
